@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&family=Fraunces:opsz,wght@9..144,900&display=swap);

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    font-family: Fraunces, serif
}

.container {
    margin: 0 auto;
    width: 1280px
}

.header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 40px
}

.header__nav-list,
.main__collection-list {
    display: -webkit-box;
    display: -ms-flexbox;
    list-style: none
}

.header__nav-list {
    display: flex;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    padding: 0
}

.header__nav-item {
    display: block;
    padding: 5px 5px 3px;
    text-decoration: none;
    border-bottom: 2px solid #f2f2f2;
    font-family: Barlow;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #83888f
}

.header__nav-item:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-bottom: 2px solid red
}

.main__hero {
    height: 600px;
    background-image: url(../imgs/Bitmap1.jpg);
    background-size: cover;
    margin-bottom: 136px
}

.main__hero-description {
    padding: 86px
}

.main__hero-text {
    width: 493px;
    font-family: "Fraunces 9px";
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7
}

.main__hero-paragrft {
    width: 445px;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    opacity: .8
}

.main__hero-button {
    width: 217px;
    height: 56px;
    background: #0e8784;
    border-radius: 6px;
    color: #fff;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear
}

.main__hero-button:hover {
    background: #00a8ff;
    color: red
}

.main__collection {
    position: relative;
    height: 450px;
    background-image: url(../imgs/bg-img.png);
    background-repeat: no-repeat;
    background-size: 1111px 196px;
    background-position: left 95px top -62px;
    margin-bottom: 200px
}

.main__collection-list {
    position: absolute;
    top: 50px;
    left: 7%;
    padding: 0;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    gap: 29px
}

.main__collection-item {
    width: 255px
}

.main__collection-deckription {
    margin-top: 61px
}

.main__collection-tex {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b
}

.main__collection-paragrft {
    margin: 0;
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b
}

.main__choose-uc {
    height: 557px;
    background: #2c343e;
    border-radius: 10px;
    margin-bottom: 200px
}

.main__choose-us-description {
    margin: 0 auto;
    padding: 80px 0 50px;
    width: 540px;
    text-align: center
}

.main__choose-us-text {
    text-align: center;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #fefcf7
}

.main__choose-uc-paragrft {
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    opacity: .8
}

.main__choose-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    text-align: center;
    list-style: none;
    margin-bottom: 250px;
    padding: 0
}

.main__choose-item {
    display: inline-block;
    padding: 72px 48px 0;
    width: 350px;
    background: #0e8784;
    border-radius: 8px;
    -webkit-transition: 2s linear;
    -o-transition: 2s linear;
    transition: 2s linear
}

.main__dropmi,
.main__product-list {
    display: -webkit-box;
    display: -ms-flexbox
}

.main__choose-item:hover {
    background-color: #55efc4;
    -webkit-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    transform: rotatey(180deg)
}

.main__choose-item h3 {
    margin: 56px 0 24px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fefcf7
}

.main__choose-item p {
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7
}

.main__choose-item div {
    width: 256px
}

.main__dropmi {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 67px;
    width: 790px
}

.main__dropmi :nth-child(odd) {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #00f
}

.main__dropmi :nth-child(2n) {
    display: inline-block;
    width: 365px;
    height: 2px;
    background-color: #f4c632
}

.main__costum-text {
    margin-bottom: 91px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f
}

.main__product-list {
    display: flex;
    -webkit-column-gap: 95px;
    -moz-column-gap: 95px;
    column-gap: 95px;
    padding: 0;
    margin-bottom: 64px;
    list-style: none
}

.main__product-item {
    width: 285px
}

.main__product-list span {
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba
}

.main__product-list h3 {
    margin: 38px 0 42px;
    width: 178px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b
}

.main__product-list p {
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b
}

.product-link {
    padding: 15px 31px;
    background: #0e8784;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear
}

.product-link:hover {
    background: #66d2cf;
    color: red
}

.footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 100px;
    -moz-column-gap: 100px;
    column-gap: 100px;
    padding: 47px 85px;
    margin: 200px 0 10px;
    width: 100%;
    background: #2c343e;
    border-radius: 5px
}

.footer__info a {
    border-bottom: none
}

svg {
    margin-left: 30px;
    -webkit-transition: 3s;
    -o-transition: 3s;
    transition: 3s
}

svg:hover path {
    fill: #FDD6BA
}